# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl

# Ambiente virtual
venv/
.env
.venv

# Variáveis de ambiente
*.env
.env.*
!.env.example
!**/.env.example
rag/.env

# Test coverage & cache
coverage/
htmlcov/
.coverage
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace