langchain-text-splitters
langchain-huggingface
unstructured
python-dotenv
chromadb
sentence-transformers
renumics-spotlight
requests
ranx
# CUDA: pip install torch --index-url https://download.pytorch.org/whl/cu124
torch
numpy
pandas
accelerate
einops
transformers==4.44.2